@import "tailwindcss";

#span {
  font-size: larger;
  font-weight: bolder;
}
.logo {
  background-color: yellowgreen;
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 25px;
  font-weight: bolder;
  font-size: larger;
  padding-top: 10px;
}
.form {
  background-color: orange;
  height: 60px;
  text-align: center;
  align-items: center;
  font-size: medium;
  padding-top: 12px;
}
.list {
  background-color: chocolate;
  color: white;
  height: 400px;
  /* text-align: center; */
  padding-top: 30px;
}
.footer {
  background-color: burlywood;
  text-align: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  height: 67px;
  padding-top: 15px;
}